body {
    background-color: #000000;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style:none;
}

header, h1, main {
    text-align: center;
} 

header {
    margin: 100px;
}

h1 {
    margin: 20px;
    color:#ffffff;
    font-size: 40px;
}

div {
    margin: 30px;
}

.conteiner {
    margin: 50px;
    width:1000px;
    display: inline-flex;
    align-items:center;
}


.foto {
    width: 100%;
    border-radius: 10px;
    border: 2px solid transparent
}

.foto:hover {
    border: 2px solid white;
}

.nome {
    font-size: 22px;
    margin-top: 35px ;
}

.nome:hover {
    color:white
}

.botao {
    padding: 9px 30px 9px 30px;
    font-size: 24px;
    border: solid 2px white;
    background-color: black;
    border-radius: 8px;
    color:white;
}

.botao:hover {
    background-color: white;
    color:black;
}

.teste {
    color:grey
}

.teste:hover {
    color: white
}